NFSE_USERNAME="seu_cpf_ou_cnpj"
NFSE_PASSWORD="sua_senha"
DOWNLOAD_PATH="caminho_para_download"
START_DATE="2024-01-01"
END_DATE=""
MONTHS_BACK="12"
MAX_PERIOD_DAYS="30"
WAIT_TIMEOUT="20"
HEADLESS="false"
DEBUG="false"
